<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
  </head>
  <body>

    <!-- NAVBAR -->


    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown link
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>




<footer class="bg-black text-white pt-5 pb-4"> 
    <div class="container text-md-left">
<div class="row text-md-left">
    <!-- Logo and description -->
    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <img src="{{ url_for('static', filename='abnas.jpeg') }}" alt="Logo" style="max-height: 80px;">
        <p class="mt-2">
          Maranda High: A legacy of excellence, a future of promise, and a community of lifelong learners.
        </p>
        <div>
          <a href="#" class="text-white me-3"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-white me-3"><i class="fab fa-dribbble"></i></a>
          <a href="#" class="text-white"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>

<!-- Quick Links -->
<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
    <h6 class="text-uppercase fw-bold">Quick Link</h6>
    <p><a href="#" class="text-white text-decoration-none">Home</a></p>
    <p><a href="#" class="text-white text-decoration-none">Teachers</a></p>
    <p><a href="#" class="text-white text-decoration-none">Students</a></p>
    <p><a href="#" class="text-white text-decoration-none">Blog & News</a></p>
  </div>


   <!-- Useful Links -->
   <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
    <h6 class="text-uppercase fw-bold">Useful Link</h6>
    <p><a href="#" class="text-white text-decoration-none">Privacy & Policy</a></p>
    <p><a href="#" class="text-white text-decoration-none">Terms & Conditions</a></p>
    <p><a href="#" class="text-white text-decoration-none">Contact Us</a></p>
  </div>



 <!-- Subscribe -->
 <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
    <h6 class="text-uppercase fw-bold">Subscribe Us!</h6>
    <form>
      <div class="mb-2">
        <input type="email" class="form-control" placeholder="Your email">
      </div>
      <button class="btn btn-outline-light btn-sm">Subscribe</button>
    </form>
  </div>


<hr class="mb-4 mt-4 text-white">

  <!-- Copyright -->
  <div class="row">
    <div class="col text-center">
      <p class="mb-0">&copy; 2022 Copyright All rights reserved by Abnas High School</p>
    </div>
  </div>

</div>

</footer>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
  </body>
</html>