{% extends 'base.html' %}

{% block content %}

    

    <div>
<div>
    <img src="/abnas.jpeg" alt="Abnas High school" width="40" height="40" class="img">
    <p></p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, ea ducimus doloremque dolor iure nemo amet sit aperiam voluptate adipisci eius quos culpa blanditiis harum quia quis quas qui quibusdam?
    Doloribus, totam voluptas! Et error provident officia adipisci odit amet ut saepe, unde eveniet. Aliquid dolorum ab ipsam porro, optio a omnis, provident iusto vitae aut, pariatur magnam harum rem?</p>
   
</div>

    </div>
      


    {% endblock %}