{% extends 'base.html' %}

{% block content %}



    <header>
        <figure>
            <img src="/abnas.jpeg" alt="Abnas High school" width="40">
            <figcaption>Abnas high school</figcaption> 
        </figure>
    
<h1>Abnas high school</h1>
<nav>
    <ul style="list-style-type: none;">
        <li><a href="/index.html">Home</a></li>
        <li><a href="/courses.html">Courses</a></li>
        <li><a href="/contact.html">Contact</a></li>
        <li><a href="/about.html">About</a></li>
        <li><a href="/form.html">Register with us</a></li>
    </ul>
</nav>
</header>   
<main>
<article>
    <aside>
        <article>
            <h2>News</h2>
        <p>Abnas High school is not accepting applications for the 2025 academic year</p>
        </article>
        <article>
            <h2>Events</h2>
            <p>Form one admission <time datetime="2025-02-10T10:00">February 10, 2025 at 10:00 AM</time></p>
        </article>
    </aside>
    <h2>Welcome to Abnas high school</h2>
    <p>Abnas high school is dedicated to providing excellent education and cultivating future leaders.</p>   
</article>
<blockquote cite="https://www.brainyquote,com/quotes/franklin d roosevelt 101271">"The only limit of our realization of tommorrow will be our doubts of today."
    Franklin D. Rooservette
</blockquote>
<p>One of my favourite book is <cite>Think Big</cite> by Ben Carson</p>

</main>
<footer>
    <hr>
    <hr>
<p>&copy; 2022-2025 Abnas High School. ALL rights reserved</p>


{% endblock %}