h1{
text-align: center;
font-style: oblique;
background-color: aqua;
text-decoration-color: azure;
}
header{
    background-color: whitesmoke;
   
}
header nav ul{
    padding: 8px;
    text-align: center;
    
    justify-content: center;
}
header nav ul li{
background-color:burlywood;


}
